*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: cadetblue;
}

header p{
    display: inline-block;
    margin-right: 10px;
}
header div{
    display: inline-block;
    margin-left: 50%;
}

.cabecera_der{
    margin: 10px;
}

.cabecera_der li{
    display: inline-block;
    padding: 5px;
    list-style: none;
}

.cuerpo{
    display: inline-block;
    max-width: 70%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

main ul{
    display: inline-block;
    min-height: 400px;
    min-width: 150px;
    background-color: blue  ;
}
main{
    background-color: steelblue;
}
main li{
    margin: 5px;
    list-style: none;
    min-height: 100px;
    border: 10px solid royalblue;
    border-radius: 10px;
    background-color: royalblue;

}
footer{
    background-color: aquamarine;
    margin-top: 5px;
    border: 10px solid aquamarine;
}
.piesera_izq{
    min-width: 50%;
    display: inline-block;
}
.piesera_der{
    display: inline-block;
    margin-left: 30%;
}
.piesera_der p{
    align-content: flex-end
}